:root {
  --deepsample-variables-deepsample-black: rgba(0, 0, 0, 1);
  --deepsample-variables-deepsample-dark: rgba(9, 32, 69, 1);
  --deepsample-variables-deepsample-schemes-primary: var(--deepsample-variables-deepsample-dark);
  --deepsample-variables-dark-buttons: var(--deepsample-variables-deepsample-dark);
  --deepsample-variables-deepsample-gray: rgba(95, 99, 104, 1);
  --deepsample-variables-deepsample-green: rgba(62, 175, 63, 1);
  --deepsample-variables-deepsample-light: rgba(255, 255, 255, 1);
  --deepsample-variables-deepsample-red: rgba(225, 73, 66, 1);
  --deepsample-variables-deepsample-yellow: rgba(247, 205, 80, 1);
  --deepsample-variables-big-panel-radius: 30px;
  --deepsample-variables-divider-stroke: rgba(222, 225, 230, 0.5);
  --deepsample-variables-oval-button-radius: 100px;
  --deepsample-variables-panel-gap: 20px;
  --deepsample-variables-panel-horizontal-padding: 20px;
  --deepsample-variables-panel-radius: 14px;
  --deepsample-variables-panel-vertical-padding: 20px;
  --deepsample-variables-small-panel-gap: 10px;
  --deepsample-variables-text-input-height: 56px;
  --deepsample-variables-text-input-radius: 4px;
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-background-brand-hover: var(--color-primitives-brand-900);
  --color-background-default-default-hover: var(--color-primitives-gray-100);
  --color-background-default-secondary: var(--color-primitives-gray-100);
  --color-background-default-secondary-hover: var(--color-primitives-gray-200);
  --color-background-disabled-default: var(--color-primitives-brand-300);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-border-disabled-default: var(--color-primitives-brand-400);
  --color-primitives-brand-100: rgba(245, 245, 245, 1);
  --color-primitives-brand-300: rgba(217, 217, 217, 1);
  --color-primitives-brand-400: rgba(179, 179, 179, 1);
  --color-primitives-brand-600: rgba(68, 68, 68, 1);
  --color-primitives-brand-700: rgba(56, 56, 56, 1);
  --color-primitives-brand-800: rgba(44, 44, 44, 1);
  --color-primitives-brand-900: rgba(30, 30, 30, 1);
  --color-primitives-gray-100: rgba(245, 245, 245, 1);
  --color-primitives-gray-200: rgba(230, 230, 230, 1);
  --color-primitives-gray-300: rgba(217, 217, 217, 1);
  --color-primitives-gray-600: rgba(68, 68, 68, 1);
  --color-primitives-gray-700: rgba(56, 56, 56, 1);
  --color-primitives-gray-800: rgba(44, 44, 44, 1);
  --color-primitives-gray-900: rgba(30, 30, 30, 1);
  --m3-body-large-font-family: "Roboto", Helvetica;
  --m3-body-large-font-size: 16px;
  --m3-body-large-font-style: normal;
  --m3-body-large-font-weight: 400;
  --m3-body-large-letter-spacing: 0.5px;
  --m3-body-large-line-height: 24px;
  --m3-body-small-font-family: "Roboto", Helvetica;
  --m3-body-small-font-size: 12px;
  --m3-body-small-font-style: normal;
  --m3-body-small-font-weight: 400;
  --m3-body-small-letter-spacing: 0.4000000059604645px;
  --m3-body-small-line-height: 16px;
  --m3-elevation-light-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-elevation-light-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-headline-medium-font-family: "Roboto", Helvetica;
  --m3-headline-medium-font-size: 28px;
  --m3-headline-medium-font-style: normal;
  --m3-headline-medium-font-weight: 400;
  --m3-headline-medium-letter-spacing: 0px;
  --m3-headline-medium-line-height: 36px;
  --m3-headline-small-font-family: "Roboto", Helvetica;
  --m3-headline-small-font-size: 24px;
  --m3-headline-small-font-style: normal;
  --m3-headline-small-font-weight: 400;
  --m3-headline-small-letter-spacing: 0px;
  --m3-headline-small-line-height: 32px;
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-size: 14px;
  --m3-label-large-font-style: normal;
  --m3-label-large-font-weight: 500;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3-schemes-error: rgba(179, 38, 30, 1);
  --m3-schemes-inverse-on-surface: rgba(245, 239, 247, 1);
  --m3-schemes-inverse-surface: rgba(50, 47, 53, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(33, 0, 93, 1);
  --m3-schemes-on-secondary-container: rgba(29, 25, 43, 1);
  --m3-schemes-on-surface: rgba(29, 27, 32, 1);
  --m3-schemes-on-surface-duplicate: rgba(29, 27, 32, 1);
  --m3-schemes-on-surface-variant: rgba(73, 69, 79, 1);
  --m3-schemes-outline: rgba(121, 116, 126, 1);
  --m3-schemes-outline-duplicate: rgba(121, 116, 126, 1);
  --m3-schemes-primary: rgba(101, 85, 143, 1);
  --m3-schemes-primary-container: rgba(234, 221, 255, 1);
  --m3-schemes-primary-duplicate: rgba(101, 85, 143, 1);
  --m3-schemes-secondary-container: rgba(232, 222, 248, 1);
  --m3-schemes-secondary-container-duplicate: rgba(232, 222, 248, 1);
  --m3-schemes-surface: rgba(254, 247, 255, 1);
  --m3-schemes-surface-container: rgba(243, 237, 247, 1);
  --m3-schemes-surface-container-highest: rgba(230, 224, 233, 1);
  --m3-schemes-surface-container-low: rgba(247, 242, 250, 1);
  --m3-schemes-surface-duplicate: rgba(254, 247, 255, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(29, 25, 43, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(29, 25, 43, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(29, 25, 43, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(29, 25, 43, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(29, 27, 32, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(29, 27, 32, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(29, 27, 32, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(73, 69, 79, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(73, 69, 79, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(101, 85, 143, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(101, 85, 143, 0.12);
  --m3-title-large-font-family: "Roboto", Helvetica;
  --m3-title-large-font-size: 22px;
  --m3-title-large-font-style: normal;
  --m3-title-large-font-weight: 400;
  --m3-title-large-letter-spacing: 0px;
  --m3-title-large-line-height: 28px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --typography-primitives-scale-06: 32px;
  --typography-primitives-scale-07: 40px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-m3-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-m3-mode="light"] {
  --m3-schemes-error: rgba(179, 38, 30, 1);
  --m3-schemes-inverse-on-surface: rgba(245, 239, 247, 1);
  --m3-schemes-inverse-surface: rgba(50, 47, 53, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(33, 0, 93, 1);
  --m3-schemes-on-secondary-container: rgba(29, 25, 43, 1);
  --m3-schemes-on-surface: rgba(29, 27, 32, 1);
  --m3-schemes-on-surface-duplicate: rgba(29, 27, 32, 1);
  --m3-schemes-on-surface-variant: rgba(73, 69, 79, 1);
  --m3-schemes-outline: rgba(121, 116, 126, 1);
  --m3-schemes-outline-duplicate: rgba(121, 116, 126, 1);
  --m3-schemes-primary: rgba(101, 85, 143, 1);
  --m3-schemes-primary-container: rgba(234, 221, 255, 1);
  --m3-schemes-primary-duplicate: rgba(101, 85, 143, 1);
  --m3-schemes-secondary-container: rgba(232, 222, 248, 1);
  --m3-schemes-secondary-container-duplicate: rgba(232, 222, 248, 1);
  --m3-schemes-surface: rgba(254, 247, 255, 1);
  --m3-schemes-surface-container: rgba(243, 237, 247, 1);
  --m3-schemes-surface-container-highest: rgba(230, 224, 233, 1);
  --m3-schemes-surface-container-low: rgba(247, 242, 250, 1);
  --m3-schemes-surface-duplicate: rgba(254, 247, 255, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(29, 25, 43, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(29, 25, 43, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(29, 25, 43, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(29, 25, 43, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(29, 27, 32, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(29, 27, 32, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(29, 27, 32, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(73, 69, 79, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(73, 69, 79, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(101, 85, 143, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(101, 85, 143, 0.12);
}

[data-m3-mode="light-high-contrast"] {
  --m3-schemes-error: rgba(68, 15, 14, 1);
  --m3-schemes-inverse-on-surface: rgba(255, 255, 255, 1);
  --m3-schemes-inverse-surface: rgba(50, 47, 53, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(255, 255, 255, 1);
  --m3-schemes-on-secondary-container: rgba(255, 255, 255, 1);
  --m3-schemes-on-surface: rgba(0, 0, 0, 1);
  --m3-schemes-on-surface-duplicate: rgba(0, 0, 0, 1);
  --m3-schemes-on-surface-variant: rgba(37, 35, 43, 1);
  --m3-schemes-outline: rgba(69, 65, 74, 1);
  --m3-schemes-outline-duplicate: rgba(69, 65, 74, 1);
  --m3-schemes-primary: rgba(39, 23, 78, 1);
  --m3-schemes-primary-container: rgba(73, 57, 113, 1);
  --m3-schemes-primary-duplicate: rgba(39, 23, 78, 1);
  --m3-schemes-secondary-container: rgba(73, 57, 113, 1);
  --m3-schemes-secondary-container-duplicate: rgba(73, 57, 113, 1);
  --m3-schemes-surface: rgba(253, 247, 255, 1);
  --m3-schemes-surface-container: rgba(242, 236, 244, 1);
  --m3-schemes-surface-container-highest: rgba(230, 224, 233, 1);
  --m3-schemes-surface-container-low: rgba(248, 242, 250, 1);
  --m3-schemes-surface-duplicate: rgba(253, 247, 255, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(0, 0, 0, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(0, 0, 0, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(0, 0, 0, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(37, 35, 43, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(37, 35, 43, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(39, 23, 78, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(39, 23, 78, 0.12);
}

[data-m3-mode="light-medium-contrast"] {
  --m3-schemes-error: rgba(110, 47, 44, 1);
  --m3-schemes-inverse-on-surface: rgba(245, 239, 247, 1);
  --m3-schemes-inverse-surface: rgba(50, 47, 53, 1);
  --m3-schemes-on-primary: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(255, 255, 255, 1);
  --m3-schemes-on-secondary-container: rgba(255, 255, 255, 1);
  --m3-schemes-on-surface: rgba(29, 27, 32, 1);
  --m3-schemes-on-surface-duplicate: rgba(29, 27, 32, 1);
  --m3-schemes-on-surface-variant: rgba(69, 65, 74, 1);
  --m3-schemes-outline: rgba(97, 93, 103, 1);
  --m3-schemes-outline-duplicate: rgba(97, 93, 103, 1);
  --m3-schemes-primary: rgba(73, 57, 113, 1);
  --m3-schemes-primary-container: rgba(123, 107, 167, 1);
  --m3-schemes-primary-duplicate: rgba(73, 57, 113, 1);
  --m3-schemes-secondary-container: rgba(124, 107, 167, 1);
  --m3-schemes-secondary-container-duplicate: rgba(124, 107, 167, 1);
  --m3-schemes-surface: rgba(253, 247, 255, 1);
  --m3-schemes-surface-container: rgba(242, 236, 244, 1);
  --m3-schemes-surface-container-highest: rgba(230, 224, 233, 1);
  --m3-schemes-surface-container-low: rgba(248, 242, 250, 1);
  --m3-schemes-surface-duplicate: rgba(253, 247, 255, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(29, 27, 32, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(29, 27, 32, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(29, 27, 32, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(69, 65, 74, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(69, 65, 74, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(73, 57, 113, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(73, 57, 113, 0.12);
}

[data-m3-mode="dark"] {
  --m3-schemes-error: rgba(242, 184, 181, 1);
  --m3-schemes-inverse-on-surface: rgba(50, 47, 53, 1);
  --m3-schemes-inverse-surface: rgba(230, 224, 233, 1);
  --m3-schemes-on-primary: rgba(56, 30, 114, 1);
  --m3-schemes-on-primary-container: rgba(234, 221, 255, 1);
  --m3-schemes-on-secondary-container: rgba(232, 222, 248, 1);
  --m3-schemes-on-surface: rgba(230, 224, 233, 1);
  --m3-schemes-on-surface-duplicate: rgba(230, 224, 233, 1);
  --m3-schemes-on-surface-variant: rgba(202, 196, 208, 1);
  --m3-schemes-outline: rgba(147, 143, 153, 1);
  --m3-schemes-outline-duplicate: rgba(147, 143, 153, 1);
  --m3-schemes-primary: rgba(208, 188, 254, 1);
  --m3-schemes-primary-container: rgba(79, 55, 139, 1);
  --m3-schemes-primary-duplicate: rgba(208, 188, 254, 1);
  --m3-schemes-secondary-container: rgba(74, 68, 88, 1);
  --m3-schemes-secondary-container-duplicate: rgba(74, 68, 88, 1);
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-surface-container: rgba(33, 31, 38, 1);
  --m3-schemes-surface-container-highest: rgba(54, 52, 59, 1);
  --m3-schemes-surface-container-low: rgba(29, 27, 32, 1);
  --m3-schemes-surface-duplicate: rgba(20, 18, 24, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(56, 30, 114, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(56, 30, 114, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(56, 30, 114, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(56, 30, 114, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(232, 222, 248, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(232, 222, 248, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(232, 222, 248, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(232, 222, 248, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(230, 224, 233, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(230, 224, 233, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(230, 224, 233, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(202, 196, 208, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(202, 196, 208, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(208, 188, 254, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(208, 188, 254, 0.12);
}

[data-m3-mode="dark-high-contrast"] {
  --m3-schemes-error: rgba(255, 249, 249, 1);
  --m3-schemes-inverse-on-surface: rgba(0, 0, 0, 1);
  --m3-schemes-inverse-surface: rgba(230, 224, 233, 1);
  --m3-schemes-on-primary: rgba(0, 0, 0, 1);
  --m3-schemes-on-primary-container: rgba(0, 0, 0, 1);
  --m3-schemes-on-secondary-container: rgba(0, 0, 0, 1);
  --m3-schemes-on-surface: rgba(255, 255, 255, 1);
  --m3-schemes-on-surface-duplicate: rgba(255, 255, 255, 1);
  --m3-schemes-on-surface-variant: rgba(255, 249, 255, 1);
  --m3-schemes-outline: rgba(206, 200, 212, 1);
  --m3-schemes-outline-duplicate: rgba(206, 200, 212, 1);
  --m3-schemes-primary: rgba(255, 249, 255, 1);
  --m3-schemes-primary-container: rgba(211, 193, 255, 1);
  --m3-schemes-primary-duplicate: rgba(255, 249, 255, 1);
  --m3-schemes-secondary-container: rgba(211, 193, 255, 1);
  --m3-schemes-secondary-container-duplicate: rgba(211, 193, 255, 1);
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-surface-container: rgba(33, 31, 36, 1);
  --m3-schemes-surface-container-highest: rgba(54, 52, 58, 1);
  --m3-schemes-surface-container-low: rgba(29, 27, 32, 1);
  --m3-schemes-surface-duplicate: rgba(20, 18, 24, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(0, 0, 0, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(0, 0, 0, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(0, 0, 0, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(0, 0, 0, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(0, 0, 0, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(0, 0, 0, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(0, 0, 0, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(0, 0, 0, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(255, 255, 255, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(255, 255, 255, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(255, 249, 255, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(255, 249, 255, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(255, 249, 255, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(255, 249, 255, 0.12);
}

[data-m3-mode="dark-medium-contrast"] {
  --m3-schemes-error: rgba(255, 185, 179, 1);
  --m3-schemes-inverse-on-surface: rgba(43, 41, 47, 1);
  --m3-schemes-inverse-surface: rgba(230, 224, 233, 1);
  --m3-schemes-on-primary: rgba(27, 9, 66, 1);
  --m3-schemes-on-primary-container: rgba(0, 0, 0, 1);
  --m3-schemes-on-secondary-container: rgba(0, 0, 0, 1);
  --m3-schemes-on-surface: rgba(255, 249, 255, 1);
  --m3-schemes-on-surface-duplicate: rgba(255, 249, 255, 1);
  --m3-schemes-on-surface-variant: rgba(206, 200, 212, 1);
  --m3-schemes-outline: rgba(166, 161, 171, 1);
  --m3-schemes-outline-duplicate: rgba(166, 161, 171, 1);
  --m3-schemes-primary: rgba(211, 193, 255, 1);
  --m3-schemes-primary-container: rgba(152, 135, 197, 1);
  --m3-schemes-primary-duplicate: rgba(211, 193, 255, 1);
  --m3-schemes-secondary-container: rgba(152, 135, 197, 1);
  --m3-schemes-secondary-container-duplicate: rgba(152, 135, 197, 1);
  --m3-schemes-surface: rgba(20, 18, 24, 1);
  --m3-schemes-surface-container: rgba(33, 31, 36, 1);
  --m3-schemes-surface-container-highest: rgba(54, 52, 58, 1);
  --m3-schemes-surface-container-low: rgba(29, 27, 32, 1);
  --m3-schemes-surface-duplicate: rgba(20, 18, 24, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(27, 9, 66, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(27, 9, 66, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(27, 9, 66, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(27, 9, 66, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(0, 0, 0, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(0, 0, 0, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(0, 0, 0, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(0, 0, 0, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(255, 249, 255, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(255, 249, 255, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(255, 249, 255, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(206, 200, 212, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(206, 200, 212, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(211, 193, 255, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(211, 193, 255, 0.12);
}

[data-m3-mode="monochrome-light"] {
  --m3-schemes-error: rgba(179, 38, 30, 1);
  --m3-schemes-inverse-on-surface: rgba(241, 241, 241, 1);
  --m3-schemes-inverse-surface: rgba(48, 48, 48, 1);
  --m3-schemes-on-primary: rgba(226, 226, 226, 1);
  --m3-schemes-on-primary-container: rgba(255, 255, 255, 1);
  --m3-schemes-on-secondary-container: rgba(27, 27, 27, 1);
  --m3-schemes-on-surface: rgba(27, 27, 27, 1);
  --m3-schemes-on-surface-duplicate: rgba(27, 27, 27, 1);
  --m3-schemes-on-surface-variant: rgba(71, 71, 71, 1);
  --m3-schemes-outline: rgba(119, 119, 119, 1);
  --m3-schemes-outline-duplicate: rgba(119, 119, 119, 1);
  --m3-schemes-primary: rgba(0, 0, 0, 1);
  --m3-schemes-primary-container: rgba(59, 59, 59, 1);
  --m3-schemes-primary-duplicate: rgba(0, 0, 0, 1);
  --m3-schemes-secondary-container: rgba(212, 212, 212, 1);
  --m3-schemes-secondary-container-duplicate: rgba(212, 212, 212, 1);
  --m3-schemes-surface: rgba(249, 249, 249, 1);
  --m3-schemes-surface-container: rgba(238, 238, 238, 1);
  --m3-schemes-surface-container-highest: rgba(226, 226, 226, 1);
  --m3-schemes-surface-container-low: rgba(243, 243, 243, 1);
  --m3-schemes-surface-duplicate: rgba(249, 249, 249, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(226, 226, 226, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(226, 226, 226, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(226, 226, 226, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(226, 226, 226, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(27, 27, 27, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(27, 27, 27, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(27, 27, 27, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(27, 27, 27, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(27, 27, 27, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(27, 27, 27, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(27, 27, 27, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(71, 71, 71, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(71, 71, 71, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(0, 0, 0, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(0, 0, 0, 0.12);
}

[data-m3-mode="monochrome-dark"] {
  --m3-schemes-error: rgba(242, 184, 181, 1);
  --m3-schemes-inverse-on-surface: rgba(48, 48, 48, 1);
  --m3-schemes-inverse-surface: rgba(226, 226, 226, 1);
  --m3-schemes-on-primary: rgba(26, 28, 28, 1);
  --m3-schemes-on-primary-container: rgba(0, 0, 0, 1);
  --m3-schemes-on-secondary-container: rgba(226, 226, 226, 1);
  --m3-schemes-on-surface: rgba(226, 226, 226, 1);
  --m3-schemes-on-surface-duplicate: rgba(226, 226, 226, 1);
  --m3-schemes-on-surface-variant: rgba(198, 198, 198, 1);
  --m3-schemes-outline: rgba(145, 145, 145, 1);
  --m3-schemes-outline-duplicate: rgba(145, 145, 145, 1);
  --m3-schemes-primary: rgba(255, 255, 255, 1);
  --m3-schemes-primary-container: rgba(212, 212, 212, 1);
  --m3-schemes-primary-duplicate: rgba(255, 255, 255, 1);
  --m3-schemes-secondary-container: rgba(71, 71, 71, 1);
  --m3-schemes-secondary-container-duplicate: rgba(71, 71, 71, 1);
  --m3-schemes-surface: rgba(19, 19, 19, 1);
  --m3-schemes-surface-container: rgba(31, 31, 31, 1);
  --m3-schemes-surface-container-highest: rgba(53, 53, 53, 1);
  --m3-schemes-surface-container-low: rgba(27, 27, 27, 1);
  --m3-schemes-surface-duplicate: rgba(19, 19, 19, 1);
  --m3-state-layers-on-primary-opacity-08: rgba(26, 28, 28, 0.08);
  --m3-state-layers-on-primary-opacity-08-duplicate: rgba(26, 28, 28, 0.08);
  --m3-state-layers-on-primary-opacity-12: rgba(26, 28, 28, 0.12);
  --m3-state-layers-on-primary-opacity-12-duplicate: rgba(26, 28, 28, 0.12);
  --m3-state-layers-on-secondary-container-opacity-08: rgba(226, 226, 226, 0.08);
  --m3-state-layers-on-secondary-container-opacity-08-duplicate: rgba(226, 226, 226, 0.08);
  --m3-state-layers-on-secondary-container-opacity-12: rgba(226, 226, 226, 0.12);
  --m3-state-layers-on-secondary-container-opacity-12-duplicate: rgba(226, 226, 226, 0.12);
  --m3-state-layers-on-surface-opacity-08: rgba(226, 226, 226, 0.08);
  --m3-state-layers-on-surface-opacity-12: rgba(226, 226, 226, 0.12);
  --m3-state-layers-on-surface-opacity-12-duplicate: rgba(226, 226, 226, 0.12);
  --m3-state-layers-on-surface-variant-opacity-08: rgba(198, 198, 198, 0.08);
  --m3-state-layers-on-surface-variant-opacity-12: rgba(198, 198, 198, 0.12);
  --m3-state-layers-primary-opacity-08: rgba(255, 255, 255, 0.08);
  --m3-state-layers-primary-opacity-12: rgba(255, 255, 255, 0.12);
}

[data-color-mode="SDS-light"] {
  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-background-brand-hover: var(--color-primitives-brand-900);
  --color-background-default-default-hover: var(--color-primitives-gray-100);
  --color-background-default-secondary: var(--color-primitives-gray-100);
  --color-background-default-secondary-hover: var(--color-primitives-gray-200);
  --color-background-disabled-default: var(--color-primitives-brand-300);
  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-border-disabled-default: var(--color-primitives-brand-400);
}

[data-color-mode="SDS-dark"] {
  --color-background-brand-default: var(--color-primitives-brand-100);
  --color-background-brand-hover: var(--color-primitives-brand-300);
  --color-background-default-default-hover: var(--color-primitives-gray-700);
  --color-background-default-secondary: var(--color-primitives-gray-800);
  --color-background-default-secondary-hover: var(--color-primitives-gray-900);
  --color-background-disabled-default: var(--color-primitives-brand-700);
  --color-border-brand-default: var(--color-primitives-brand-100);
  --color-border-default-default: var(--color-primitives-gray-600);
  --color-border-disabled-default: var(--color-primitives-brand-600);
}
